*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
Screenshot_BS_2016-04-01-11-49-41.png
Screenshot_BS_2016-04-01-11-53-21.png
Screenshot_BS_2016-04-01-13-41-45.png
Screenshot_BS_2016-04-01-14-39-02.png
users.txt
yovk.png
yovk.psd
yovk2.png
yovk2.psd
gradle.properties
local.properties
